/* Логотипи та іконки соцмереж */
.logo-icon img, /* Стилі для логотипу у верхній навігації */
.footer-left img, /* Стилі для логотипу у футері */
.social-icons img { /* Стилі для іконок соціальних мереж */
  width: 40px; /* Фіксована ширина іконок */
  height: 40px; /* Фіксована висота іконок */
  object-fit: contain; /* Зображення масштабуються, зберігаючи пропорції, без обрізання */
  margin-right: 8px; /* Відступ праворуч між іконками */
  border-radius: 50%; /* Зробити іконки круглими */
  background-color: #b8c8e3; /* Яскраво-жовтий фон іконок */
  padding: 4px; /* Відступ всередині іконок */
}

/* Загальні стилі */
* { 
  margin: 0; /* Прибирає зовнішні відступи для всіх елементів */
  padding: 0; /* Прибирає внутрішні відступи для всіх елементів */
  box-sizing: border-box; /* Враховує відступи та границі у розмір елементів */
}

html { 
  font-family: "Arial", "Helvetica", sans-serif; /* Шрифти для всієї сторінки */
  background-color: #b8c8e3; /* Блакитний фон для сторінки */
  font-weight: bold;
}

/* Таблиця меню */
.menu-table { 
  width: 100%; /* Таблиця займає всю ширину контейнера */
  border-collapse: collapse; /* Видаляє проміжки між границями комірок */
  margin: 20px 0; /* Відступ зверху і знизу таблиці */
  font-size: 18px; /* Розмір тексту в таблиці */
  text-align: left; /* Вирівнювання тексту по лівому краю */
  font-weight: bold;
}

.menu-table th, 
.menu-table td { 
  padding: 12px 15px; /* Відступи всередині комірок */
  border-bottom: 1px solid #1f294d; /* Нижня границя комірок синього кольору */
}

.menu-table thead tr { 
  background-color: #6e8aba; /* Яскраво-жовтий фон для заголовка таблиці */
  color: #1f294d; /* Синій колір тексту в заголовку */
  font-weight: bold;
}

.menu-table tbody tr:nth-child(even) { 
  background-color: #8fc4cf; /* Світлий блакитний фон для парних рядків */
}

.menu-table img { 
  width: 80px; /* Ширина зображень у таблиці */
  height: 80px; /* Висота зображень у таблиці */
  object-fit: cover; /* Зображення обрізаються, щоб заповнити заданий розмір */
  border-radius: 8px; /* Закруглені кути зображень */
}

.menu-table tbody tr:hover { 
  background-color:#6e8aba; /* Світло-жовтий фон при наведенні на рядок */
  transition: background-color 0.3s; /* Плавний перехід кольору при наведенні */
}
